<% if flash[:notice3] %>
    <div class="flash-4">
        <% flasf[:notice3] %>
    </div>
<% end %>

<h1>Books</h1>

<% @books.each do |book| %>
    <p>Title</p>
    <span><%= book.title %></span>

    <p>Body</p>
    <span><%= book.body %></span>

<% end %>


